h1 {
    text-decoration: underline;
    color: black;
}

div div p {
    color: blue;
}

p> a{
     color: orange;
}

p span a{
    background-color: yellow;
}

ul ul{
    color: blue;
}


ul a {
    color: red;
}

ul span li {
    font-weight: bold;
}

ul ul ul {
    list-style-type: none;
}




